[submodule "excelgpt-frontend"]
	path = excelgpt-frontend
	url = https://github.com/joshua-wanjae-choi/excelgpt-frontend.git
[submodule "excelgpt-backend"]
	path = excelgpt-backend
	url = https://github.com/joshua-wanjae-choi/excelgpt-backend.git
